* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item {
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    min-height: 380px;
    line-height: 380px;
    background-color: orange;
}